.secao_sobre {
    background-color: #cfcece90;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2% 2% 5% 5%;
}

.secao_sobre h2 {
    font-size: 2rem;
    color: #05031b;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.secao_sobre p {
    font-size: 1em;
    text-align: center;
    max-width: 650px;
    line-height: 30px;
    margin-bottom: 5%;
}

.container_sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
    width: 100%;
    max-width: 1024px;
}

.card_sobre {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 250px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card_sobre img {
    width: 100%;
    height: 250;
    margin-bottom: 15px;
}

.texto {
    padding: 10% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto h3 {
    font-size: 1.5rem;
    color: #05031b;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 10%;
}

.texto p {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333333;
    margin-top: 10%;
}

@media screen and (max-width: 768px) {

    .secao_sobre h2 {
        font-size: 1.5rem;
        text-align: center;
    }
}